body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
}

/* Tarjeta */
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.8);
  padding: 30px;
  border-radius: 25px;
  text-align: center;
  width: 85%;
  max-width: 320px;
  backdrop-filter: blur(10px);
  transition: all 1s ease;
  z-index: 10;
}

.card.oculta {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

button {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 15px;
  background: #ff4b5c;
  color: white;
}

/* Collage */
.collage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  pointer-events: none;
  overflow: hidden;
}

/* Fotos */
.foto-collage {
  position: absolute;
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 20px;
  opacity: 0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  animation: aparecer 1s ease forwards, zoomLento 8s ease-in-out infinite alternate;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.5) translateY(-50px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

/* Zoom lento */
@keyframes zoomLento {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

/* Texto final */
#finalText {
  position: fixed;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 38px;
  color: white;
  opacity: 0;
  transform: translateY(-50%) scale(0.5);
  transition: all 1.5s ease;
  z-index: 30;
}

#finalText.mostrar {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}

/* detrás del texto */
#finalText::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 120px;
  background: rgba(255, 75, 92, 0.3);
  border-radius: 30px;
  filter: blur(20px);
  z-index: -1;
}

/* Corazones */
.corazon {
  position: fixed;
  bottom: -20px;
  font-size: 20px;
  opacity: 0.7;
  animation: flotar 6s linear infinite;
  z-index: 5;
}

@keyframes flotar {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.7;
  }
  100% {
    transform: translateY(-100vh) scale(1.5);
    opacity: 0;
  }
}